.footer__background {
  display: flex;
  align-items: center;
  inset: 0;
  z-index: 1;
  background-image: url("/assets/img/footer.webp"); /* Chemin vers l'image */
  background-size: 500px; /* L'image couvre tout l'écran */
  background-repeat: no-repeat; /* Pas de répétition de l'image */
  background-position: center; /* L'image est centrée */
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Supprime les débordements horizontaux */
  align-items: center;
}
.footer {
  width: 100%;
  max-width: 1200px; /* Ajustez selon la largeur de votre site */
  margin: 0 auto; /* Centre le footer */
  overflow: hidden; /* Empêche les débordements */
  align-items: center;
}

.footer__content {
  font-family: "Gajraj One", serif;
  color: var(--bleu-);
  font-size: 20px;
  text-align: center;
  transition: color 0.3s ease;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px;
}

.footer__jean-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/footerj.webp"); /* Chemin vers l'image */
  background-size: cover; /* L'image couvre tout l'écran */
  background-position: center;
  width: 100dvw;
  color: #fff;
  padding: 10px 0;
}

.footer__jean {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  gap: 10px;

  padding: 10px 20px;
  color: #fff;
  width: 80%;
}

.footer__slogan {
  font-family: "Gajraj One", sans-serif;
  font-size: 18px;
  color: #00274d;
  align-items: center;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__social-icon img {
  width: 40px; /* Taille des icônes sociales */
  height: auto;
  color: #00274d;
}

.footer__etiquette {
  width: 200px; /* Taille du conteneur */
  height: 200px;
  margin: 0 auto; /* Centre horizontalement */
  display: flex; /* Utilise flexbox pour centrer le contenu */
  justify-content: center;
  align-items: center;
}

.footer__etiquette img {
  width: 60%; /* L'image remplit le conteneur */
  height: auto; /* Conserve les proportions */
}

.footer__contact {
  margin-bottom: 20px;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  align-items: center;
}

.footer__contact-item {
  color: #00274d;
  align-items: center;
}

.footer__address {
  background-color: #00274d;
  color: #ffffff;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
  max-width: 300px;
  align-items: center;
}

.footer__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__button {
  background-color: #00274d;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.footer__button:hover {
  background-color: #004080;
}

.footer__credits {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  color: #555555;
  line-height: 1.5;
}

.footer p {
  margin: 0;
  text-align: center;
}
