h1 {
  font-family: "Gajraj One", serif;
  padding: 20px;
}

h2 {
  font-family: "Russo One", serif;

}

h3 {
  font-family: "Orbitron", serif;
  padding: 20px;
}

p {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;

  text-align: left;
}

.hero__title {
  font-family: "Gajraj One", serif;
  color: var(--bleu-);
  font-size: 24px;
  margin: 0;
}

.header__logo-image-usa {
position: absolute;
  top: 14px;
  right: 65px;
  width: 38px;
  height: auto;
  z-index: 3;
}

.menu {
  visibility: hidden;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-image: url("/assets/img/menu.webp"); /* Chemin vers l'image */
  background-size: cover; /* L'image couvre tout l'écran */
  background-repeat: no-repeat; /* Pas de répétition de l'image */
  background-position: center; /* L'image est centrée */

  color: white;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Ultra", serif;

  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}
.menu[aria-hidden="false"] {
  transform: translateX(0);
  visibility: visible;
}



.menu__link {
  font-family: "Gajraj One", serif;
  text-decoration: none;
  font-size: 17px; /* Réduction de la taille du texte */
  text-transform: uppercase;
  color: var(--bleu-);
  display: block;
  text-align: center;
  transition: color 0.3s ease;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: "";
  background: var(--bleu-);
  height: 3px;
  width: 100%;
  position: absolute;
  border-radius: 20px;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}

/* Technique pour transformer les 3 barres du bouton de menu en croix
Ne pas oublier d'ajouter une transition plus haut pour l'animation */
.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(135deg);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.menu-btn__position {
  top: 0;
  left: 0;
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 5dvh;
  list-style-type: none;
  max-width: 100dvw;
  padding: 0 5dvw;
  padding-top: 5dvh;

}

.menu__logo-container {
  margin-bottom: 40px;
  position: absolute;
  top: 14px;
  right: 65px;
  width: 38px;
  height: auto;
  z-index: 3;
}

.menu__logo-container img {
  width: 80px;
  height: auto;
}

.menu__logo-container {
  margin-bottom: 40px;
}