
body {
    font-family: "Urbanist", sans-serif; /* Police principale pour le corps du texte */
}

h1 {
    font-family: "Gajraj One", sans-serif; /* Utilise la police Russo One pour h1 */
    font-weight: 400;
}

h2 {
    font-family: "Gajraj One", sans-serif; /* Utilise la police Gajraj One pour h2 */
    font-weight: 400;
}

h3 {
    font-family: "Orbitron", sans-serif; /* Utilise la police Orbitron pour h3 */
    font-weight: 600; /* Style gras modéré */
}

p {
    font-family: "Urbanist", sans-serif; /* Utilise la police Urbanist pour les paragraphes */
    font-weight: 400; /* Poids standard */
    line-height: 1.5; /* Espacement pour améliore la lisibilité */


/* Style global pour le header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('assets/img/background.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  color: #002366;
}

.header__logo-container {
  margin-bottom: 20px;
}

.header__logo {
  max-width: 150px;
}

/* Style pour le menu */
.menu {
  text-align: center;
  margin-top: 20px;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  margin: 15px 0;
}

.menu__link {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #002366;
  font-weight: bold;
  transition: color 0.3s;
}

.menu__link:hover {
  color: #0056b3;
}

/* Style pour l'image de fond en bas */
.header__background-image {
  position: relative;
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}

/* Style responsif */
@media (max-width: 768px) {
  .menu__link {
    font-size: 20px;
  }
}
